<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!--STYLE_DEFINITION-->   
<div class="header">
    <h1 class="deckName"><!--DECK_NAME--></h1>
</div>
<div class="body">
    <div class="panel">
        <!--DECK_DESCRIPTION-->
    </div>
    <div class="panel">
        <!--CARDLIST_SECTION-->
        <!--SIDEBOARD_SECTION-->
    </div>
    <div class="panel">
        <!--STATS_SECTION-->
        <h3>Kontakt</h3>
        <ul>
            <li>tel.: 501-443-776</li>
            <li>e-mail: <a href="mailto:redienss@gmail.com">redienss@gmail.com</a></li>
        </ul>
    </div>	
    <!--GALLERY_SECTION-->
</div>
<div class="footer">
    <a href="mailto:redienss@gmail.com"><span class="footerContent">redienss@gmail.com</span></a>
</div>