<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<!--STYLE_DEFINITION-->   


<div class="header">
	<h1 class="deckName"><!--DECK_NAME--></h1>
</div>

<div class="body">
	
	<div class="panel">
		<h3>Deck</h3>
		<p class="justified">
			<!--DECK_DESCRIPTION-->
		</p>
	</div>
	
	<div class="panel">
		<!--CARDLIST_SECTION-->
		<!--SIDEBOARD_SECTION-->
	</div>
	
	<div class="panel">
		
        <!--STATS_SECTION-->
		
		<h3>Kontakt</h3>
		<ul>
			<li>tel.: 501-443-776</li>
			<li>e-mail: <a href="mailto:redienss@gmail.com">redienss@gmail.com</a></li>
		</ul><br/>
		
		<h3>Wysyłka</h3>
		<p>
            Karty wysyłam listem poleconym z priorytetem, zabezpieczone folią bąbelkową.
		</p>
		
	</div>	
	
	<!--GALLERY_SECTION-->
	
</div>

<div class="footer">
	<a href="mailto:redienss@gmail.com"><span class="footerContent">redienss@gmail.com</span></a>
</div>